<template>
  <q-page class="bg-grey-3 column">
      <div class="row q-pa-sm bg-primary">
      <q-input
        v-model="newTask"
        @keyup.enter="addTask"
        class="col"
        square
        filled
        bg-color="white"
        placeholder="Add task"
        dense>

        <template v-slot:append>
          <q-btn
            @click="addTask"
            round
            dense
            flat
            icon="add" />
        </template>
      </q-input>
      </div>
    <q-list
      separator
      bordered
      class="bg-white">
      <q-item
        @click="task.done = !task.done"
        :class="{ 'done bg-blue-1' :task.done }"
        clickable
        v-for="(task, index) in tasks"
        v-ripple>
        <q-item-section avatar>
          <q-checkbox
            v-model="task.done"
            class="no-pointer-events"
            color="primary" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ task.title }}</q-item-label>
        </q-item-section>

       <q-item-section
       v-if="task.done"
       side
       >
            <q-btn
              @click.stop="deleteTask(index) "
              dense
              flat round color="primary"
              icon="delete" />
        </q-item-section>

      </q-item>
    </q-list>
    <div
      v-if="!tasks.length"
      class="no-tasks absolute-center">
      <q-icon
      name="check"
      size="100px"
      color="primary"
      />
      <div class="text-h5 text-primary text-center">
        No tasks
      </div>
    </div>
  </q-page>
</template>
<script>
  export default {
    data() {
      return {
        newTask:'',
        toDoList:null,
        titleToDoList:null,
        tasks: [
          // {
          //   title:'Get bananas',
          //   done:false
          // },
          // {
          //   title:'Eat bananas',
          //   done:false
          // },
          // {
          //   title:'Poo bananas',
          //   done:false
          // }

        ]
      }
    },
  methods: {
    deleteTask(index) {
       this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to delete?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.tasks.splice(index, 1)
         this.$q.notify('Task delete ')
         // this.showNotif()
       })

    },
    // showNotif (){
    //     this.$q.notify({
    //     message: 'Jim pinged you.',
    //     caption: '5 minutes ago',
    //     color: 'secondary'
    //   })
    // },
    addTask (){
      if(this.newTask){
      this.tasks.push({
        title: this.newTask,
        done: false
      })
      }

      this.newTask=''
    }

  }
}

</script>
<style>
  .done
    .q-item__label{
          text-decoration: line-through;
          color:#bbb ;
    }
    .no-tasks{
      opacity:0.5;
    }



</style>

